@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.white {
  color: #fff;
}

.orange_bg {
  background: #b3612e;
}

header {
  position: sticky;
  top: 0;
  background: #3c3a39;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.navbar a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 12px;
  width: 150px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: 8px;
}

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
}

.hide {
  display: none;
}

.mobile_menu {
  background-color: #3c3a39;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.mobile_menu ul {
  list-style: none;
}

.bars {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.bars:hover {
  cursor: pointer;
}

.headline_section {
  background-image: url(../images/headline_bg_img.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c1a19;
}

.headline_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 12px;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.primary_text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  color: #ff6b00;
}

.supporting_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff5e1;
}

.description {
  border: 1px solid #1c1a19;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  width: 85%;
}

.social_media {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 20px;
}

.social_media ul li {
  list-style: none;
  width: 45px;
  height: 45px;
}

.works {
  padding: 120px 24px;
  background: #fff;
}

.works_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 48px;
}

.works_title h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 3.25rem;
  color: #1c1a19;
}

.works_line {
  background-image: url(../images/works_line.png);
  width: 97%;
  height: 2px;
}

.multi_post_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.multi_post_img {
  max-width: 100%;
}

.multi_post_stories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title_post {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #091e42;
}

.multi_post_para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
}

.tags {
  width: 92%;
  height: 40px;
}

.tags ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tags ul li {
  list-style: none;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
  color: #091e42;
}

.multi_post_stories button {
  padding: 12px;
  width: 132px;
  height: 48px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
}

.works_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

.mask_group {
  height: 338px;
}

.website_portfolio {
  background-image: url(../images/wp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pro_art {
  background-image: url(../images/mask_group.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.data {
  background-image: url(../images/data.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  padding: 12px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.card_content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 12px;
  height: 248px;
  margin-top: 76px;
}

.card_content_container h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.card_content_container p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.card_tags ul li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.about_section {
  background: #1c1a19;
}

.about_me_container {
  display: flex;
  flex-direction: column;
}

.about_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 120px 24px;
  background-image: url(../images/about_bg_img.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about_me_title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.375rem;
  line-height: 5.5rem;
  color: #ff6b00;
}

.about_me_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f4f5f7;
}

.btn_resume {
  padding: 12px;
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  text-align: center;
  letter-spacing: 0.027em;
  border: none;
}

.divider {
  background: #fff;
  margin: 10px auto 128px auto;
  width: 85%;
  height: 0.5px;
}

.skills_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills_content {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-bottom: 50px;
}

.skill_inner_section {
  display: flex;
  flex-direction: column;
}

.skill_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skill_title h3 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.75rem;
  text-align: center;
}

.lang_names ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 44px;
}

.lang_names ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.688rem;
  color: #fff;
}

footer {
  background: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 70px;
}

.form-text-container h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 1200;
  font-size: 2rem;
  line-height: 2.75rem;
  text-align: center;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  align-items: center;
  padding: 0 24px 120px 24px;
}

input {
  width: 100%;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #979493;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 114px;
  background-color: #fbf8f7;
  border: none;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
}

textarea::placeholder {
  color: #3c3a39;
}

.btn-form {
  padding: 12px;
  gap: 10px;
  width: 132px;
  height: 48px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.bottom_navigation {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-top: 1px solid #dfe1e6;
}

button:hover {
  cursor: pointer;
  color: #f55800;
  border: 1px solid #f55800;
  background-color: #fff5e1;
  transition: 0.5s ease-in-out;
}

button:active {
  color: #fff;
  border: 1px solid#e05304;
  background-color: #e05304;
}

.bottom_navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

hr {
  width: 140px;
  height: 7px;
  background: #0d151e;
  border-radius: 10px;
  display: grid;
  place-items: center;
  margin: auto;
  margin-bottom: 8px;
}

.social_media li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bottom_navigation ul li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.3s ease-in;
}

.form-text-container h2:hover {
  transform: translate(3px, 0);
}
